<div class="cart-summary-container">
    <div class="box">
        <h2 class="title is-4">Order Summary</h2>
        <div class="summary-item">
            <span>Subtotal:</span>
            <span>${{ cart.subtotal.toFixed(2) }}</span>
        </div>
        <div class="summary-item">
            <span>Shipping:</span>
            <span>${{ cart.shippingCost.toFixed(2) }}</span>
        </div>
        <hr>
        <div class="summary-item total">
            <span>Total:</span>
            <span>${{ cart.total.toFixed(2) }}</span>
        </div>
        <button class="button is-primary is-fullwidth mt-4" routerLink="/checkout">
            Proceed to Checkout
        </button>
    </div>
</div>