<div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          src="{{ product.imageUrl }}"
          alt="{{product.name}}"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img
              src="{{ product.category | categoryImage }}"
              alt="Category Icon"
            />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">{{ product.name }}</p>
          <p class="subtitle is-6">{{ product.category }}</p>
        </div>
      </div>
  
      <div class="content">
        <p><strong>Price:</strong> ${{ product.price }}</p>
        <button class="button is-primary is-fullwidth mt-3" (click)="addToCart()">Add to Cart</button>
      </div>
    </div>
  </div>