<div *ngIf="cartItem">
    <div class="card cart-item-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-96x96">
                        <img [src]="cartItem!.product.imageUrl" [alt]="cartItem!.product.name">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-5">{{ cartItem!.product.name }}</p>
                    <p class="subtitle is-6">{{ cartItem!.product.category }}</p>
                    <p class="content">{{ cartItem!.product.description }}</p>
                    <p><strong>Price:</strong> ${{ cartItem!.product.price }}</p>
                </div>
                <div class="media-right">
                    <div class="quantity-controls">
                        <button class="button is-small is-light" (click)="decreaseQuantity()">-</button>
                        <span class="quantity">{{ cartItem!.quantity }}</span>
                        <button class="button is-small is-light" (click)="increaseQuantity()">+</button>
                    </div>
                    <button class="button is-danger is-small mt-3" (click)="removeItem()">
                        <span class="icon">
                            <i class="fas fa-trash"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>