<div class="product-list-page" *ngIf="products$ | async as products; else loading">
    <h1 class="title">Product List</h1>
    <div class="columns is-multiline">
        <div *ngFor="let product of products" class="column is-one-third">
            <app-product-card [product]="product" (productAdded)="provideUIFeedbackToProductBeingAdded(product)"></app-product-card>
        </div>
    </div>
</div>
<ng-template #loading>
    <div class="loading-spinner">
        <i class="fas fa-spinner fa-spin"></i> Loading products...
    </div>
</ng-template>